---
- name: backup folders
  delegate_to: "{{ monitoring_server }}"
  file:
    path: "{{ item }}"
    state: directory
    owner: bitrix
    group: bitrix
    mode: 0770
  with_items:
    - "/home/bitrix/backup"
    - "/home/bitrix/backup/mysql"
  tags: backup

- name: create backup of MySQL databases only
  delegate_to: "{{ monitoring_server }}"
  with_items: "{{ bx_sites_info | default([]) }}"
  mysql_db:
    name: "{{ item.DBName }}"
    state: dump
    target: "/home/bitrix/backup/mysql/update_{{ item.DBName }}.sql.bz2"
    login_unix_socket: "{{ mysql_socket }}"
  when: item.DBName is defined
  tags: backup
