---
# create client config file
# password_file  is mandatory options, it contains plain text password
- name: root password 
  set_fact:
    password: "{{ lookup('file', password_file) }}"
  tags: vars

- name: create client config file
  template:
    src=root-my.cnf.j2
    dest={{ ansible_env.HOME }}/.my.cnf
    mode=0600 
