---
# get info about site installed on localhost
# save info to: bx_sites_info
- set_fact:
    proccess_sites: true

- name: gathering facts about installed sites
  bx_facts:
    name=list
    password=0
    install='(kernel|ext_kernel)'
  delegate_to: "{{ cluster_web_server }}"
  tags: gathering_facts
  ignore_errors: yes
  register: sites_info

- set_fact:
    proccess_sites: "{{ sites_info['changed']  }}"

- name: create variable bx_sites_info
  set_fact:
    bx_sites_info: "{{ hostvars[inventory_hostname]['bx_sites'] }}"
  tags: gathering_facts
  when: proccess_sites
