# {{ ansible_managed }}
# rotate slow and error log for mysql service
{{ mysql_logs }}/*.log
{
        copytruncate
        notifempty
        daily
        rotate 2
        missingok
        compress
        delaycompress
}
