<?
// {{ ansible_managed }}
// remove new master server from slaves list
$_SERVER["DOCUMENT_ROOT"] = '{{ item.DocumentRoot }}';
$DOCUMENT_ROOT = $_SERVER["DOCUMENT_ROOT"];
define("NO_KEEP_STATISTIC", true);
define("NOT_CHECK_PERMISSIONS",true);
define('BX_NO_ACCELERATOR_RESET', true);
require($DOCUMENT_ROOT."/bitrix/modules/main/include/prolog_before.php");

if(!CModule::IncludeModule('cluster'))
{
	echo "Not found cluster module for {{ item.SiteName }}";
	return 0;
};

// register variables for node
$dbHost = "{{ inventory_hostname }}";

// return values
$OK   = array( 0, 'Ok' );
$ERR  = array( 1, 'Error');

$dbNode = new CClusterDBNode;

// test if node exist => search by DBHost
$rsNodes = CClusterDBNode::GetList(array(), array("=NAME" => $dbHost));

while($arNode = $rsNodes->Fetch())
{
	CClusterDBNode::Delete($arNode["ID"], false);
}

$returnResult = $OK;
echo "Remove cluster db master node: ". $returnResult[1];
return $returnResult[0];
?>
