# {{ ansible_managed }}
{% set site_name = item['SiteName'] %}
{% set serv_name = item['ServerName'] %}
{% set serv_port = 80 %}
{% if cluster_web_configure == 'enable' -%}
{% set serv_port = 8080 %}
{%- endif %}
{% set site_root = nginx_disable_www+'/'+serv_name %}
{% set site_str = '' %}
{% if site_name == 'default' -%}
{% set site_str = 'default_server' %}
{%- endif %}
# disable
# SiteName:   {{ site_name }}
# ServerName: {{ serv_name }}
# ServerPort: {{ serv_port }}
# SiteRoot:   {{ site_root }}
server {
  listen {{ serv_port }} {{ site_str }};
  server_name {{ serv_name }};
  
  set $proxyserver "http://127.0.0.1:8888";

  index index.html
  root {{ site_root }};
  error_page 404 =200 /index.html;

  location = /index.html {
    root {{ site_root }};
  }

  location / {
    return 404;
  }
}
