<?
// {{ ansible_managed }}
$_SERVER["DOCUMENT_ROOT"] = '{{ item.DocumentRoot }}';
$DOCUMENT_ROOT = $_SERVER["DOCUMENT_ROOT"];
define("NO_KEEP_STATISTIC", true);
define("NOT_CHECK_PERMISSIONS",true);
define('BX_NO_ACCELERATOR_RESET', true);
require($_SERVER["DOCUMENT_ROOT"]."/bitrix/modules/main/include/prolog_before.php");


// return values
$OK   = array( 0, 'Ok' );
$ERR  = array( 1, 'Error');

COption::SetOptionString("main", "site_stopped", "{{ site_stopped|default('Y') }}");
COption::SetOptionString("main", "check_agents", "{{ site_stopped|default('Y') }}");
COption::SetOptionString("main", "check_events", "{{ site_stopped|default('Y') }}");
$returnResult = $OK;
echo "Update site public: ". $returnResult[1];
return $returnResult[0];

?>
