# {{ ansible_managed }}
{% if monitor_email is defined -%}
account default
host {{ monitor_smtphost }}
port {{ monitor_smtpport }}
from {{ monitor_email }}
logfile {{ nagios_server_log_dir }}/msmtp.log

# auth options
{% if monitor_smtppass is defined %}
user {{ monitor_smtplogin }}
password {{ monitor_smtppass }}
auth {{ monitor_smtpmethod | default('on') }}
{% else %}
auth off
{%- endif %}

{% if monitor_smtptls is defined %}
# tls options
tls on
tls_certcheck off
{% if 'yandex.ru' in monitor_email %}
tls_starttls on
{%- endif %}
{%- endif %}
{% endif %}
