---
- name: munin - disable plugins
  file: 
    dest: /etc/munin/plugins/process_status_searchd 
    state: absent
  tags: monin
  with_items:
    - process_status_searchd
  notify: restart munin-node

- name: munin - disable sphindex plugin
  file:
    path: "{{item}}"
    state: absent
  with_fileglob:
    - /etc/munin/plugins/sphindex_*
  notify: restart munin-node
  tags: monin
