---
# get info about site installed on localhost
# save info to: bx_sites_info
- set_fact:
    run_register: "enabled"
  tags: gathering_facts

- name: web - gathering facts
  bx_facts:
    name: list
    password: 0
    status: finished
  delegate_to: "{{ cluster_web_server }}"
  tags: gathering_facts
  ignore_errors: true
  register: bx_sites_found

- set_fact:
    run_register: "disabled"
  when: bx_sites_found is failed

- name: web - configure facts
  set_fact:
    bx_sites_info: "{{ hostvars[inventory_hostname]['bx_sites'] }}"
  tags: gathering_facts
  when: "run_register == 'enabled'"
