---
- name: delete default settings from apache config
  lineinfile:
    dest: "{{ item.ApacheConfNTLM }}"
    regexp: "SSLCertificate"
    state: absent
  with_items: "{{ bx_sites_info }}"
  when: item.ApacheConfNTLM != ""

- name: delete previously settings
  bx_blockinfile:
    insertafter="CERTIFICATE ANSIBLE MANAGED BLOCK"
    state="delete"
    dest="{{ item.ApacheConfNTLM }}"
  with_items: "{{ bx_sites_info }}"
  when: item.ApacheConfNTLM != ""

- name: add new settings to nginx config 
  blockinfile:
    dest: "{{ item.ApacheConfNTLM }}"
    insertafter: "SSLEngine on"
    marker: "# CERTIFICATE ANSIBLE MANAGED BLOCK"
    content: |
      SSLCertificateFile   /etc/nginx/certs/{{ item.SiteName }}/{{ certificate| basename }}
      SSLCertificateKeyFile  /etc/nginx/certs/{{ item.SiteName }}/{{ private_key| basename }}
  with_items: "{{ bx_sites_info }}"
  when: item.ApacheConfNTLM != ""
