---
######## create site directories on all web servers in the pool
######## 1. php_sessions dir: /tmp/php_sessions/ext_www/<site_name>
######## 2. php_upload dir:   /tmp/php_upload/ext_www/<site_name>
######## 3. document root:    /home/bitrix/ext_www/<site_name> (default, may replaced by input opt)
######## 4. upload basic files to document root
####
- name: create common site directories
  file: path={{ item }}
    owner={{ site_bitrix }} group={{ site_bitrix }}
    mode=0775 state=directory
  with_items:
    - "{{ site_extentend_base }}"
    - "{{ site_extentend_log }}"
  tags: configure_site_files
  when: "'bitrix-web' in group_names"

- name: create tmp site directories
  file: path={{ item }}
    owner={{ site_bitrix }} group={{ site_bitrix }}
    mode=0770 state=directory
  with_items:
    - "{{ site_extentend_php_sess }}"
    - "{{ site_extentend_upload }}"
  tags: configure_site_files
  when: "'bitrix-web' in group_names"

- name: create site directories
  file: path={{ item }}
    owner={{ site_bitrix }} group={{ site_bitrix }}
    mode=0770 state=directory
  with_items:
    - "{{ web_site_root_dir }}"
    - "{{ web_site_sess_dir }}"
    - "{{ web_site_upld_dir }}"
  tags: configure_site_files
  when: "'bitrix-web' in group_names"

- name: update systemd-tmpfiles bvat config
  lineinfile: dest=/etc/tmpfiles.d/bvat.conf
    line="d {{ item }} 0770 {{ site_bitrix }} {{ site_bitrix }} -"
    create=yes
  with_items:
    - "{{ site_extentend_php_sess  }}"
    - "{{ site_extentend_upload  }}"
  notify: systemd-tmpfiles-create
  when: "'bitrix-web' in group_names and ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7'"

- name: update systemd-tmpfiles site config
  lineinfile: dest=/etc/tmpfiles.d/{{ web_site_name }}.conf
    line="d {{ item }} 0770 {{ site_bitrix }} {{ site_bitrix }} -"
    create=yes
  with_items:
    - "{{ web_site_sess_dir }}"
    - "{{ web_site_upld_dir }}"
  notify: systemd-tmpfiles-create
  when: "'bitrix-web' in group_names and ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7'"

- name: unpacking Bitrix environment
  unarchive: src="{{ site_archive_name }}_{{ web_site_type }}.tar.gz" dest="{{ web_site_root_dir }}"
  tags: create_site_files
  when: "'bitrix-web' in group_names"

- name: set rights to site dircetory
  file: path={{ web_site_root_dir }}
    owner={{ site_bitrix }} group={{ site_bitrix }} recurse=yes
  tags: create_site_files
  when: "'bitrix-web' in group_names"

- name: delete unnecessary files
  file: 
    path: "{{ web_site_root_dir }}/bitrix/{{ item }}"
    state: absent
  with_items:
    - "php_interface/dbconn.php.crm"
    - ".settings.php.crm"
####
######## /create site directories on all web servers in the pool
