---
# create database and user for site

- name: Create PostgreSQL user
  delegate_to: "{{ web_site_dbserv }}"
  postgresql_user:
    login_user: "{{ pgsql_user }}"
    name: "{{ web_site_dbuser }}"
    password: "{{ web_site_dbpass }}"
    state: present
  tags: site_pgsql

- name: Create PostgreSQL database
  delegate_to: "{{ web_site_dbserv }}"
  postgresql_db:
    login_user: "{{ pgsql_user }}"
    name: "{{ web_site_db }}"
    owner: "{{ web_site_dbuser }}"
#    encoding: UTF8
#    lc_collate: C.UTF-8
    lc_ctype: C.UTF-8
    template: template0
    state: present
  tags: site_pgsql

- name: Create pgcrypto extension
  delegate_to: "{{ web_site_dbserv }}"
  postgresql_ext:
    login_user: "{{ pgsql_user }}"
    db: "{{ web_site_db }}"
    name: pgcrypto
    state: present
  tags: site_pgsql

- name: Grant schema privileges
  delegate_to: "{{ web_site_dbserv }}"
  postgresql_privs:
    login_user: "{{ pgsql_user }}"
    db: "{{ web_site_db }}"
    privs: ALL
    type: schema
    objs: public
    role: "{{ web_site_dbuser }}"
    state: present
  tags: site_pgsql

- name: Grant database privileges
  delegate_to: "{{ web_site_dbserv }}"
  postgresql_privs:
    login_user: "{{ pgsql_user }}"
    db: "{{ web_site_db }}"
    privs: ALL
    type: database
    obj: "{{ web_site_db }}"
    role: "{{ web_site_dbuser }}"
    state: present
  tags: site_pgsql