---
- include_tasks: /etc/ansible/inc_vars.yml

- name: additional gathering facts
  bx_vat: 

# manage sites
- include_tasks: create_link.yml
  when: manage_web == 'create_site' and web_site_type == 'link'

- include_tasks: create_kernel.yml
  when: manage_web == 'create_site' and web_site_type == 'kernel'

- include_tasks: create_ext_kernel.yml
  when: manage_web == 'create_site' and web_site_type == 'ext_kernel'

- include_tasks: delete_site.yml
  when: manage_web == 'delete_site'

# php7 tasks
- set_fact:
    updated_hostname: all
  when: updated_hostname is not defined

# update one host
- include_tasks: upgrade_php_version.yml
  when: manage_web == 'upgrade_php' and inventory_hostname == updated_hostname

- include_tasks: downgrade_php_version.yml
  when: manage_web == 'downgrade_php' and inventory_hostname == updated_hostname

# default all web servers
- include_tasks: upgrade_php_version.yml
  when: manage_web == 'upgrade_php' and updated_hostname == 'all' and 'bitrix-web' in group_names

- include_tasks: downgrade_php_version.yml
  when: manage_web == 'downgrade_php' and updated_hostname == 'all' and 'bitrix-web' in group_names

# web cluster configuration
- include_tasks: delete_web.yml
  when: manage_web == 'delete_web'

- include_tasks: web1.yml
  when: manage_web == 'web1' or manage_web == 'create_web'

- include_tasks: web2.yml
  when: manage_web == 'web2' or manage_web == 'create_web'

# certificates
- include_tasks: configure_le.yml
  when: manage_web == 'configure_le' and inventory_hostname == cluster_web_server

- include_tasks: configure_cert.yml
  when: manage_web == 'configure_cert' and inventory_hostname == cluster_web_server

- include_tasks: reset_cert.yml
  when: manage_web == 'reset_cert' and inventory_hostname == cluster_web_server

# other
- include_tasks: web_composite_configs.yml
  when: manage_web == 'enable_composite' or manage_web == 'disable_composite'

- include_tasks: create_ntlm.yml
  when: manage_web == 'ntlm_on' and inventory_hostname == cluster_web_server

- include_tasks: restart_web.yml
  when: manage_web == 'restart_web'

- include_tasks: php_ext.yml
  when: manage_web == 'php_extension' and 'bitrix-web' in group_names

- include_tasks: site_options.yml
  when: manage_web == 'site_options' and 'bitrix-web' in group_names

- include_tasks: custom_configs.yml
  when: manage_web == 'custom_configs' and 'bitrix-web' in group_names

- name: delete temporary config
  file:
    path="{{ ansible_playbook_file }}"
    state=absent
  when: ansible_playbook_file != 'NOT_DEFINED'
