# {{ ansible_managed }}
# Additional website http
server {
  {% if cluster_web_configure == 'disable' %}
  listen {{ nginx_server_http_port }} {%if item.SiteName == 'default' %}default_server{%endif%};
  {% else %}
  listen {{ nginx_server_internal_port }} {%if item.SiteName == 'default' %}default_server{%endif%};
  {% endif %}

  {% if item.SiteName == 'default' %}
  server_name _;
  {% else %}
  server_name {{ item.ServerName }} www.{{ item.ServerName }};
  {%endif %}

  access_log /var/log/nginx/{{ item.SiteShort }}_access.log main;
  error_log  /var/log/nginx/{{ item.SiteShort }}_error.log warn;

  #charset utf-8;
  server_name_in_redirect off;

  proxy_set_header	X-Forwarded-For    $proxy_add_x_forwarded_for;
  {% if cluster_web_configure == 'disable' %}
  proxy_set_header	X-Real-IP          $remote_addr;
  proxy_set_header	Host               $host:80;
  proxy_set_header  X-Forwarded-Host   $host;
  proxy_set_header  X-Forwarded-Scheme $scheme;
  {% else %}
  proxy_set_header	X-Real-IP          $http_x_real_ip;
  proxy_set_header  Host               $http_host;
  proxy_set_header  X-Forwarded-Host   $http_host;
  proxy_set_header  X-Forwarded-Scheme $http_scheme;
  {% endif %}

  {% if item.SiteName == 'default' %}
  set $proxyserver	"http://127.0.0.1:8888";
  {% else %}
  set $proxyserver  "http://127.0.0.1:8887";
  {% endif %}

  {% if item.SiteName != 'default' %}
  set $imcontenttype	"text/html; charset=utf-8";
  {% endif %}
  set $docroot		"{{ item.DocumentRoot }}";

  index index.php;
  root "{{ item.DocumentRoot }}";
  proxy_ignore_client_abort {{ item['proxy_ignore_client_abort']|default('off') }};

  # Redirect to ssl if need
  {% if cluster_web_configure == 'disable' %}
  if (-f {{ item.DocumentRoot }}/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }
  {% endif %}

  # custom options for sites; doesn't changes on update
  include bx/site_settings/{{ item.SiteName }}/*.conf;

  # Include parameters common to all websites
  include bx/conf/bitrix.conf;

  # Include munin and nagios web
  include bx/server_monitor.conf;
}
