# {{ ansible_managed }}
# Additional website http
server {
  {% if cluster_web_configure == 'disable' %}
  listen {{ nginx_server_http_port }} {%if web_site_name == 'default' %}default_server{%endif%};
  {% else %}
  listen {{ nginx_server_internal_port }} {%if web_site_name == 'default' %}default_server{%endif%};
  {% endif %}

  {% if web_site_name == 'default' %}
  server_name _;
  {% else %}
  server_name {{ web_site_name }} www.{{ web_site_name }};
  {%endif %}

  access_log /var/log/nginx/{{ web_site_shname }}_access.log main;
  error_log  /var/log/nginx/{{ web_site_shname }}_error.log warn;

  #charset utf-8;
  server_name_in_redirect off;

  proxy_set_header	X-Real-IP $remote_addr;
  proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header	Host $host:80;

  {% if web_site_name == 'default' %}
  set $proxyserver	"http://127.0.0.1:8888";
  {% else %}
  set $proxyserver  "http://127.0.0.1:8887";
  {% endif %}

  {% if web_site_name != 'default' %}
  set $imcontenttype	"text/html; charset=utf-8";
  {% endif %}
  set $docroot		"{{ web_site_root_dir }}";

  index index.php;
  root "{{ web_site_root_dir }}";
  proxy_ignore_client_abort {{ proxy_ignore_client_abort|default('off') }};

  # Redirect to ssl if need
  {% if cluster_web_configure == 'disable' %}
  if (-f {{ web_site_root_dir }}/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }
  {% endif %}

  # custom options for sites; doesn't changes on update
  include bx/site_settings/{{ web_site_name }}/*.conf;

  # Include parameters common to all websites
  include bx/conf/bitrix.conf;

  # Include munin and nagios web
  include bx/server_monitor.conf;
}
