{% set cron = web_site_cron|default('disable') -%}
{% set charset = bitrix_site_charset|default('utf-8') -%}
{% set web_site_dbpass_regexp = web_site_dbpass | regex_replace('([\'\\\\])','\\\\\\1') -%}
{% set bitrix_type = bx_package_name | default('bitrix-env') %}
<?php
/* {{ ansible_managed }} */

{% if web_site_dbtype == 'pgsql' %}
$DBType = "pgsql";
$DBHost = "{{ web_site_dbserv }}";
$DBLogin = "{{ web_site_dbuser }}";
$DBPassword = "{{ web_site_dbpass }}";
$DBName = "{{ web_site_db }}";
{% endif %}

$DBDebug = false;
$DBDebugToFile = false;

{% if web_site_dbtype != 'pgsql' %}
// need for old distros
define('CACHED_b_lang', 3600);
define('CACHED_b_agent', 3600);
define('CACHED_b_lang_domain', 3600);

define("MYSQL_TABLE_TYPE", "INNODB");
define("VM_INSTALL", true);
{% endif %}

define("BX_FILE_PERMISSIONS", 0644);
define("BX_DIR_PERMISSIONS", 0755);
@umask(~(BX_FILE_PERMISSIONS|BX_DIR_PERMISSIONS)&0777);

{% if charset != 'windows-1251' -%}
define("BX_UTF", true);
{% else %}
setlocale(LC_ALL, 'ru_RU.CP1251' );
setlocale(LC_NUMERIC, 'C' );
mb_internal_encoding('windows-1251');
{%- endif %}

{% if web_site_dbtype != 'pgsql' and php_mysql_ext == 'mysqli' -%}
define("BX_USE_MYSQLI", true);
{% endif %}

define("BX_DISABLE_INDEX_PAGE", true);

{% if web_site_dbtype != 'pgsql' %}
define("BX_COMPRESSION_DISABLED", true);
{% endif %}

{% if cron == 'enable' -%}
define("BX_CRONTAB_SUPPORT", true);
{%- endif %}

define("SHORT_INSTALL", true);
{% if web_site_dbtype == 'pgsql' %}
define("SHORT_INSTALL_CHECK", true);
{% endif %}

{% if bitrix_type == 'bitrix-env-crm' %}
define('BX_SECURITY_SESSION_MEMCACHE_HOST', 'unix:///tmp/memcached.sock');
define('BX_SECURITY_SESSION_MEMCACHE_PORT', 0);
{% endif %}

define("BX_TEMPORARY_FILES_DIRECTORY", "/home/bitrix/.bx_temp/{{ web_site_db }}/");

{% if web_site_dbtype == 'pgsql' %}
@ini_set("memory_limit", "1024M");
mb_internal_encoding("UTF-8");
{% endif %}

?>
