{% set cron = web_site_cron|default('disable') -%}
{% set charset = bitrix_site_charset|default('utf-8') -%}
{% set web_site_dbpass_regexp = web_site_dbpass | regex_replace('([\'\\\\])','\\\\\\1') -%}
{% set bitrix_type = bx_package_name | default('bitrix-env') %}
<? define("SHORT_INSTALL_CHECK", true);?><?
/* {{ ansible_managed }} */
define("DBPersistent", false);
$DBType = "mysql";
$DBHost = "{{ web_site_dbserv }}";
$DBLogin = "{{ web_site_dbuser }}";
$DBPassword = '{{ web_site_dbpass_regexp }}';
$DBName = "{{ web_site_db }}";
$DBDebug = false;
$DBDebugToFile = false;

define("DELAY_DB_CONNECT", true);
define("CACHED_b_file", 3600);
define("CACHED_b_file_bucket_size", 10);
define("CACHED_b_lang", 3600);
define("CACHED_b_option", 3600);
define("CACHED_b_lang_domain", 3600);
define("CACHED_b_site_template", 3600);
define("CACHED_b_event", 3600);
define("CACHED_b_agent", 3660);
define("CACHED_menu", 3600);

define("BX_FILE_PERMISSIONS", 0664);
define("BX_DIR_PERMISSIONS", 0775);
@umask(~BX_DIR_PERMISSIONS);

define("MYSQL_TABLE_TYPE", "INNODB");
define("SHORT_INSTALL", true);
define("VM_INSTALL", true);

{% if charset != 'windows-1251' -%}
define("BX_UTF", true);
{%- endif %}

{% if cron == 'enable' -%}
define("BX_CRONTAB_SUPPORT", true);
{%- endif %}

define("BX_DISABLE_INDEX_PAGE", true);
define("BX_COMPRESSION_DISABLED", true);
{% if php_mysql_ext == 'mysqli' -%}
define("BX_USE_MYSQLI", true);
{% endif %}

{% if bitrix_type == 'bitrix-env-crm' %}
define('BX_SECURITY_SESSION_MEMCACHE_HOST', 'unix:///tmp/memcached.sock');
define('BX_SECURITY_SESSION_MEMCACHE_PORT', 0)
{% endif %}
?>
