<?
// {{ ansible_managed }}
$_SERVER["DOCUMENT_ROOT"] = '{{ item.DocumentRoot }}';
$DOCUMENT_ROOT = $_SERVER["DOCUMENT_ROOT"];
define("NO_KEEP_STATISTIC", true);
define("NOT_CHECK_PERMISSIONS",true);
define('BX_NO_ACCELERATOR_RESET', true);

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/modules/main/include/prolog_before.php");

if(!CModule::IncludeModule('cluster'))
{
echo "Not found cluster module for {{ item.SiteName }}";
return 0;
};

$webServer = "{{ inventory_hostname }}";
$webServerPort = "{{ nginx_to_apache_monitoring_port }}";

// return values
$OK = array( 0, 'Ok' );
$ERR = array( 1, 'Error');

$ob = new CClusterWebnode;

$rsData = $ob->GetList(
    array(),
    array(
        "HOST" => $webServer,
        "PORT" => $webServerPort
    )
);

if($arRes = $rsData->Fetch())
{
    $ob->Delete($arRes["ID"]);
}

$returnResult = $OK;
echo "Deleted cluster web node: ". $returnResult[1];
return $returnResult[0];
?>
