[logging]
	default = FILE:/var/log/krb5libs.log
	kdc = FILE:/var/log/krb5kdc.log
	admin_server = FILE:/var/log/kadmind.log

[libdefaults]
	default_realm = {{ ntlm_fqdn|upper() }}
	dns_lookup_realm = false
	dns_lookup_kdc = false
	ticket_lifetime = 24h
	renew_lifetime = 7d
	forwardable = yes

[realms]
	{{ ntlm_fqdn|upper() }} = {
		kdc = {{ ntlm_dps }}
		admin_server = {{ ntlm_dps }}
}

[domain_realm]
	.{{ ntlm_fqdn|lower() }} = {{ ntlm_fqdn|upper() }}
	{{ ntlm_fqdn|lower() }} = {{ ntlm_fqdn|upper() }}
