# {{ ansible_managed }}
# Basic mysql configuration. Use bvat for advanced settings.
# Parameters set by bvat are stored in /etc/mysql/conf.d/bvat.cnf.
# If you want to change any parameter, you'll have to redefine it in /etc/mysql/conf.d/z_bx_custom.cnf
#
{%- set mid_version = mysql_mid_version|default('8') %}
{%- set disable_log = mysql_disable_log|default('1') %}
{%- set mysql_version = mysql_uni_version|default('84') %}
{%- set setup_type_template = setup_type|default('slave') %}

[client]
port = 3306
socket = /var/lib/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysqld_safe]
nice = 0
socket = /var/lib/mysqld/mysqld.sock
log-error = /var/log/mysql/error.log

[mysqld]
server-id = 1
{% if mysql_version == '84' %}
#authentication_policy=mysql_native_password
authentication_policy = "*,,"

# Disable Percona Telemetry
percona_telemetry_disable = 1

{% if setup_type_template == "slave" %}
disable_log_bin
{% else %}
#binlog_expire_logs_seconds = 864000
{% endif %}
{% else %}
#innodb_log_file_size = 64M
#default-authentication-plugin=mysql_native_password
#binlog_expire_logs_seconds = 864000
{% endif %}

# Basic mysql server configuration
user = mysql
port = 3306
basedir = /usr
datadir = /var/lib/mysql
socket = /var/lib/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
secure-log-path=/var/lib/mysql-files

skip-external-locking
default-storage-engine = innodb
transaction-isolation = READ-COMMITTED
max_allowed_packet = 16M
myisam-recover-options = BACKUP
explicit_defaults_for_timestamp = 1
max_binlog_size = 100M
sql_mode = ""

# Cache parameters
table_open_cache = 4096
thread_cache_size = 32
{% if mid_version == '5' %}
key_buffer = 16M
{% else %}
key_buffer_size = 16M
{% endif %}
thread_stack = 512K
join_buffer_size = 2M
sort_buffer_size = 2M

# Parameters for temporary tables
tmpdir = /tmp
max_heap_table_size = 32M
tmp_table_size = 32M

# InnoDB parameters
innodb_file_per_table
innodb_buffer_pool_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_strict_mode = OFF
innodb_redo_log_capacity = 128M
innodb_default_row_format = DYNAMIC

# Database charset parameters
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
init-connect = "SET NAMES utf8mb4 COLLATE utf8mb4_0900_ai_ci"
#skip-character-set-client-handshake
skip-name-resolve

tls_version = TLSv1.2,TLSv1.3

[system_default_sect]
MinProtocol = TLSv1.2

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = utf8mb4

[mysql]

[isamchk]
key_buffer = 16M

# Include additional settings
!includedir /etc/mysql/conf.d/
